:root {
  --accent-color: #316b51; 
	--primary-color: #3d8569; 
	--light-grey-color: #8F8A93;
	--dark-grey-color: #615C62;
	--white-color: white;
}

body {
  background: transparent; 
  margin: 0;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.App {
  color: #255443;
}

.introduction {
  background-image: url('../logo1.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: auto;
}

.introduction p {
  color: var(--white-color);
}

.introduction .title {
margin-left: 40px;
}

.introduction .title-welcome {
  font-weight: 400;
  font-size: 4rem;
}

.introduction .title-sip {
  font-weight: 1000;
  font-size: 7rem;
  margin-top: -40px;
}

.introduction .title-desc {
  font-style: bold;
  font-size: 1.15rem;
  margin-top: -20px;
}

.introduction1 {
  background-color: #387961;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: auto;
}

.introduction1 img {
  width:100%;
  object-fit: cover;
}

.introduction1 .content {
  align-self: center;
}

.introduction1 .content-img-right {
  margin-top: -30px;
  margin-left: 140px;
  height: 100px;
  width: 100%;
  object-fit: contain;
}

.introduction1 .content-img-left {
  margin-top: -30px;
  margin-left: -140px;
  height: 100px;
  width: 100%;
  object-fit: contain;
  transform: scaleX(-1);
}

.introduction1 p {
  color: var(--white-color);
  font-style: bold;
  font-size: 1.85rem;
}

.introduction1 .rightcard {
  text-align: right;
}

.scroll-text {
  color: var(--white-color);
  font-size: 14px; 
}

.text-bounce {
  animation: bounce 1s infinite alternate;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

.scroll-text-v {
  color: var(--white-color);
  font-size: 10px;
  margin-top: -20px;
}

.chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.dropdown-container {
  margin: 20px 0;
}